/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('image.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

/* Heading */
h1 {
    font-size: 3em;
    color: #070707;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Container */
.container {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Input Fields */
input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #000000;
}

/* Range Slider */
input[type="range"] {
    width: 100%;
    margin: 15px 0;
}

/* Labels */
.control-label {
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
    margin-top: 15px;
    display: block;
    text-align: left;
}

/* Buttons */
button {
    background-color: #0c0c0c;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #456ba0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* QR Code Display */
#qrcode {
    margin-top: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: inline-block;
}
